*{
    margin: 0;
}

.b {
    margin: 0;
    background-color: white;
    display: flex;
    justify-content: space-between;
}
.nav {
    display: flex;
    align-items: center;
}
.SiRio {
    font-size: 50px;
    color: #1b7092;

}
.part2 {
    display: flex;
    align-items: center;
}
.account {
    border-radius: 50px;
    background-color: #1b7092;
    color: white;
    padding: 5px;
    margin: 10px;
}
.signin {
    margin: 10px;
}
.container {
    height: 100vh;
    background-color: #a9d1e2;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.whitebox {
    width: 500px;
    height: 400px;
    background-color: white;
    border-radius: 25px
}
.signicon {
    margin-left: 35%;
    margin-top: -20px;
}
.sign {
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
}
.email {
    background-color: #79c4e4;
    width: 70px;
    color: white;
    text-align: center;
    border-top-right-radius: 10px;
    margin-left: 20%;
}
.emailbox {
    height: 35px;
    width: 300px;
    background-color:  #a9d1e2;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-left: 20%;
    margin-bottom: 20px;
}
.password {
    background-color: #79c4e4;
    color:white;
    width: 76px;
    text-align: center;
    border-top-right-radius: 10px;
    margin-left: 20%;
}
.passwordbox {
    height: 35px;
    width: 300px;
    background-color:  #a9d1e2;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-left: 20%;
}