.top {
    background-color: white;
    height: 10vh;
}

.Group4-img {
    position: absolute;
    float: left;
    width: 60px;
    padding: 1%;
}

.SiRio {
    position: absolute;
    color: #1B7092;
    font-size: 3.2rem;
    padding-top: 0.8%;
    margin-top: -8px;
    padding-left: 5%;
}
.accname {
    float: right;
    color: darkgray;
    font-size: 2rem;
    padding: 0.6%;
    margin: 1%;
    font-weight: bold;

}

.Group24-img {
    transform: translate(1250px, 0%);
    margin-left: 180px;
    width: 60px;
    padding: 1%;
}

.sirioL {
    background-color: white;
    width: 400px;
    height: 99.5%;
    border-top: solid 3px #69bdec;
    grid-area: left1;
}

.bottom2 {
    display: grid;
    background-color: #A9D1E2;
    height: 89vh;
    width: 100%;
    grid-template-columns: 400px 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "left1 left2";
    /*grid-gap: 30px;*/
}

.left-part {
    color: #1B7092;
    text-align: left;
    font-size: 2.3rem;
    font-weight: bold;
    margin-left: 40px;
    margin-top: 20px;
}

.home {
    padding-bottom: 6%;
    margin-bottom: 10px;
}
.homeworks {
    padding-bottom: 6%;
    margin-bottom: 10px;
}
.schedueL {
    padding-bottom: 6%;
    margin-bottom: 10px;
}
.classesL {
    padding-bottom: 6%;
    margin-bottom: 10px;
}
.grades {
    padding-bottom: 6%;
    margin-bottom: 10px;
}
.schoolnews {
    padding-bottom: 6%;
    margin-bottom: 10px;
}
.calendar {
    padding-bottom: 6%;
    margin-bottom: 10px;
}
.emotion {
    padding-bottom: 6%;
    margin-bottom: 10px;
}
.classesL {
    margin-top: 25px;
}

.signout {
    color: #1B7092;
    margin-left: 20px;
    margin-top: 140px;
    font-size: 2rem;
    font-weight: bold;
}

.Group5-img {
    padding-left: 3%;
    width: 40px;
    margin-bottom: -10px;
}

.schedule {
    grid-area: left2;
}

.scheduleword {
    color: white;
    text-align: center;
    padding-top: 3%;
    font-size: 4.5rem;
    font-weight: bold;
    padding-bottom: 2%;

}

/* right box of schedule */

.schedule-Grid {
    display: grid;
    background-color: #A9D1E2;
    height: 70vh;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 70px 1fr 1fr 1fr 80px;
    grid-template-areas:
        "schedule-1 schedule-2 schedule-3 schedule-4 schedule-5"
        "schedule-6 schedule-7 schedule-8 schedule-9 schedule-10"
    "schedule-11 schedule-12 schedule-13 schedule-14 schedule-15"
    "schedule-16 schedule-17 schedule-18 schedule-19 schedule-20"
    "schedule-21 schedule-22 schedule-23 schedule-24 schedule-25";

}
.schedule-1 {
    margin-left: 15%;
}

.schedule-6 {
    margin-left: 15%;
}

.schedule-11 {
    margin-left: 15%;
}

 .schedule-16 {
    margin-left: 15%;
}

 .schedule-21 {
    margin-left: 15%;
}

.schedule-5 {
    margin-right: 15%;
}
.schedule-10 {
    margin-right: 15%;
}
.schedule-15 {
    margin-right: 15%;
}
.schedule-20 {
    margin-right: 15%;
}
.schedule-25 {
    margin-right: 15%;
}

.schedule-6 ,.schedule-7,.schedule-8,.schedule-9,.schedule-10,.schedule-11,.schedule-12,.schedule-13,.schedule-14,.schedule-15,.schedule-16,.schedule-17,.schedule-18,.schedule-19,.schedule-20,.schedule-21,.schedule-22,.schedule-23,.schedule-24,.schedule-25 {
    background-color: white;
    color: #1B7092;
    text-align: center;
    padding-top: 10%;
    font-size: 1.4rem;
}

.schedule-1, .schedule-2, .schedule-3, .schedule-4, .schedule-5 {

    text-align: center;
    background-color: #1B7092;
    color: white;
    font-weight: bold;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.schedule-1, .schedule-2, .schedule-3, .schedule-4, .schedule-5 ,.schedule-6 ,.schedule-7,.schedule-8,.schedule-9,.schedule-10,.schedule-11,.schedule-12,.schedule-13,.schedule-14,.schedule-15,.schedule-16,.schedule-17,.schedule-18,.schedule-19,.schedule-20,.schedule-21,.schedule-22,.schedule-23,.schedule-24,.schedule-25 {
    margin-right:40px;
    border-bottom: solid 3px #1B7092;
}

.schedule-21,.schedule-22,.schedule-23,.schedule-24,.schedule-25 {
    height: 68px;
    border-bottom: none;
}

.classes {
    font-weight: bold;
    font-size: 1.8rem;
    padding-top: 6%;
}